@charset "UTF-8";

body{
    background-color: indigo; 
}
h1{
    color: plum;
}
p{
    color:aliceblue ;
    height: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;

    }